*{
	margin:0px;
	padding: 0px;
	font-family: helvetica;
}
div#banner{
	width:100%;
	
	margin:auto;
	border: 4px solid #FF8000;
	border-radius:15px 15px;
}

img#img{
	display:block;
	margin:auto;
	width:100%;
	max-width: 300px;
	border-radius:15px 15px;
}img#img_banner{
	display:block;
	margin:auto;
	width:100%;
	max-width: 950px;
	border:black 2px;
	border-radius: 15px 15px;
}
nav#menu{
	text-align: center;
	
}
#container{
	border: 1px ;
	border-radius: 1em;
	margin: 0.5em 0.5em;
}
#container_principal{
	border: 1px ;
	border-radius: 1em;
	margin: auto 1em;
}
#pie{
	border: 4px solid #FF8000;
	border-radius: 1em;
	text-align: center;
	width:100%;

}